/*body*/
body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;     
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background:crimson ;
}


/* header*/
.nav{
    display: flex;
}
.nav a{
   color: white;
   font-weight: 600;
   font-size: 20px;
   text-decoration: none;
}
.nav-link:focus{
    color: white;
 }
.btn-pedido{
    border-radius: 25px;
    background-color: crimson;
    font-size: 17px;
    

}
.btn-pedido a:hover{
    color: white!important;
}
.nav button:hover{
    background-color: #ef5272eb;
}
.nav a:hover{
    color: crimson;
}
/* banner*/

.carousel-item img{
    display: block;
    height: 600px;
    margin: auto;
}
/*seccion nosotros*/
.img-nosotros{
    height: 615px;
}
#Nosotros,#ubicacion, #menú{
    
    background: black;
    opacity: 0.9;
    text-align: justify;
    
    line-height: 40px;
}
.historia{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
/*cobertura*/
.btn-cobertura{
    display: block;
    margin-left: 40px;
    margin-right: 40px;   
}
#menú .card {
    height: 530px;
}
#menú .img-organico{
    position: absolute;
    margin-top: 80px;
}
#menú .img-organico-n{
    position: absolute;
    margin-top: 40px;
}
#menú .img-organico-r{
    position: absolute;
    margin-top: 0px;
}

/*ubicacion*/
#ubicacion p{
    color: white;
    text-align: center;
}
/*footer*/
footer .fa-brands{
    font-size: 32px;
    color: #de1f21;
    margin: 12px;
  }
  .whatsapp{
    background-color:#370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right:30px;
    position: fixed;
    bottom: 0px;
}
.whatsapp a{
    color: white;
} 
@media (max-width:750px){
     header .container-mobile{
        flex-direction: column;
    }
    header .nav{
        justify-content: center;
    }
    /*coberturas*/
    .carousel-item img{
        height: 350px;
    }
    #Nosotros .img-nosotros{
        height: 450px;
    }
    #menú img{
        height: 300px;
    }
    #menú .img-organico{
        height: 50px;
        margin-top: 20px;
    }
    #menú .img-organico-n{
        height: 50px;
        margin-top: -20px;
        margin-bottom: 50px;
    }
    #menú .img-organico-r{
        height: 50px;
        margin-top: -20px;
        margin-bottom: 50px;
    }
    #menu .card{
        height: 530px;
    }
}
